*{
    margin:0;
    padding:0;
    font-family: century gothic;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../16.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display:  inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 2px solid white;
}
ul li a:hover{
    background-color: white;
    color:black;
}

 
.main-text{
    text-align: center;
    color: white;
    padding-top: 180px;

}
.main-text h1{
    font-size: 100px;
}
.main-text p{
    font-size: 40px;
    font-style: italic;
}
.main-btn{
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);

}
.main-btn a{
 border: 2px white solid;
 padding:10px 30px;
 color:white;
 text-decoration: none;
 z-index:1;
 transition: color 0.5s;
    
}
.main-btn a span{
    width:50px;
    height:100px;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    transition: 0.5;
}
.main-btn a:hover span{
     width: 50px;%;
}
.main-btn a:hover{
    background-color:white;
    color:black;
}
@media screen and(max-width:770px) {
    font-size: 44px;
    .main-btn a{
        display: block;
        margin:20px auto;
    }
}
/*About us*/
 #feature{
    width:100%;
    padding:70px;

 }
.title-text{
    text-align:centre;
    padding-bottom: 70px;

}
.title-text p{
    margin:auto;
    font-size:20px ;
    color: #009688;
    font-weight:bold;

}
/*Options*/

.menu{
    width: 100%;
    padding: 70px 0;
}

.menu h1{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}

.menu h1 span{
    color: rebeccapurple;
    margin-left: 15px;
    font-family: mv boli;
}

.menu .menu_box{
    width: 140%;
    margin: 25px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-gap: 10px;
}

.menu .menu_box .menu_card{
    width: 350px;
    height: 450px;
    padding-top: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.menu .menu_box .menu_card .menu_image{
    width: 250px;
    height: 180px;
    margin: 30px;    
}

.menu .menu_box .menu_card .menu_image img{
    width: 110%;
    height: 80%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1) ;
}

.menu .menu_box .menu_card .menu_info h3{
    font-size: 27px;
    display: flex;
    justify-content: center;
}

.menu .menu_box .menu_card .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 20px;
}
#footer{
    padding: 80px 0 20px;
    background: #efefef;
    position:relative;
}
.title-text p{
    text-align: center;
    color:  rebeccapurple;
    margin-left: 15px;
    font-size: 20px;
    font-family: mv boli
    
}
.title-text h1{
    text-align: center;
    color:  black;
    margin-left: 15px;
    font-size: 30px;
    
}
.footer-row{
    width:50%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.footer-left,.footer-right{
flex-basis: 45%;
padding:10px;
margin-bottom: 20px;
}
.footer-right{
    text-align: center;
   
}

